.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  
  .grid-item {
    display: flex;
    align-items: center;
  }
  
  .label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .value {
    font-style: italic;
  }
  